%section
  .modal.ext-intro-modal
    .content
      %h1.normal Get Started with Extensions
      .text-container
        %p Standard Notes starts simple and can be customized with extensions that make the experience yours.

      .ext-sections.mt-50
        .ext-section
          .title Editors
          .items
            .item Advanced Markdown
            .item Code Editor
            .item Minimal Markdown

        .ext-section
          .title Sync Plugins
          .items
            .item Dropbox
            .item Google Drive
            .item Version History

        .ext-section
          .title Themes
          .items
            .item Midnight
            .item + community themes

      .text-container
        %p.mt-50 Visit the Extensions portal to get started.

        .link-group
          %a.bold.blue{"href" => "https://standardnotes.org/extensions", "target" => "_blank"} Extensions Portal
          %a.blue.pointer{"ng-click" => "close()"} Maybe Later
